<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>with-component</title>
  <meta name="description" content="" />
  <meta name="author" content="13" />

   <link rel="stylesheet" href="../../themes/base.css" />
	   <link rel="stylesheet" href="../../lib/sl.css" />
	<link rel="stylesheet" href="../../jqui/css/jquery-ui.css" />
	<link rel="stylesheet" href="../../themes/default/jquery.ui.override.css" />
	<link rel="stylesheet" href="../../themes/default/jquery.ui.tabs.css" />
  <style type="text/css">
  	html,body{
  		height:100%;
  	}
  	#layout-wrapper{
  		height:100%;
  		margin:0 auto;
  	}
  </style>
  
  <script src="../../jqui/js/jquery.min.js"></script>
  <script src="../../jqui/js/jquery-ui.min.js"></script>
  
  <script src="../../external/underscore-min.js"></script>
  <script src="../../external/underscore.string.min.js"></script>
  <script src="../../external/modernizr.js"></script>
  
  <script src="../../core.js"></script>
  <script src="../../lib/regx.js"></script>
  <script src="../../lib/sl.js"></script>
  <script src="../../lib/uihelper.js"></script> 
  
  <script src="../../plugins/layout/jquery.layout.js"></script>
  <script src="../../ui/jquery.ya.tabs0.js"></script>
  <script type="text/javascript">
  	jQuery(function($,root){
  		var yawrap=window.yawrap,
  			sl=yawrap.sl,
  			Solution=sl.Solution;
  		
  		new Solution('minmax',{
  			hostSelector:'#layout-wrapper',
  			minWidth:1024,	//最小宽度1024
  			maxWidth:1300
  		}).doSolution();
  		$(window).resize(function(){
  			$('#layout-wrapper').trigger('resize0');
  		});
  		
  		var layout1=$('#layout-wrapper').layout({
  			defaults:{
  				applyDefaultStyles: true
  			}
  		});
  		$('#tabs').tabs0();
  		layout1.resizeAll();	//layout resize
  		//iframe自适应解决方案
		new Solution('iframeautoheight',{
  			hostSelector:'iframe'
  		}).doSolution();
  		
  		$('#tabs').tabs0('add','#tabs-8','label');
  	});
  </script>
</head>

<body>
	<div id="layout-wrapper">
		<div id="tabs" class="ui-layout-center">
			<ul>
				<li><a href="#tabs-1">基本信息</a></li>
				<li><a href="#tabs-2">短信</a></li>
				<li><a href="#tabs-3">规则</a></li>
				<li><a href="#tabs-4">卡信息</a></li>
			</ul>
			<div class="ui-layout-content ui-widget-content">
				<div id="tabs-1">
					<iframe src="../tabs/default.html" frameborder="0" scrolling="no" style="width:100%;" noresize="noresize"></iframe>
				</div>
				<div id="tabs-2">
					<p style="height:1000px;">Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
				</div>
				<div id="tabs-3">
					<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
					<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
				</div>
				<div id="tabs-4">
				</div>
			</div>
		</div>
		<div class="ui-layout-north">North</div>
		<div class="ui-layout-south">South</div>
		<div class="ui-layout-west">
			<div id="accordion">
				<h3 class="nav"><a href="#">Section 1</a></h3>
				<div class="nothing">
				</div>
				<h3 class="nav"><a href="#">Section 2</a></h3>
				<div>
					<p>
					Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
					purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
					velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
					suscipit faucibus urna.
					</p>
				</div>
				<h3 class="nav"><a href="#">Section 3</a></h3>
				<div>
					<p>
					Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
					Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
					ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
					lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
					</p>
					<ul>
						<li>List item one</li>
						<li>List item two</li>
						<li>List item three</li>
					</ul>
				</div>
				<h3 class="nav"><a href="#">Section 4</a></h3>
				<div>
					<p>
					Cras dictum. Pellentesque habitant morbi tristique senectus et netus
					et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
					faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
					mauris vel est.
					</p>
					<p>
					Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
					inceptos himenaeos.
					</p>
				</div>
			</div>
		</div>
</div>
</body>
</html>
