dist
node_modules
docs
.project
*~
*.diff
*.patch
.DS_Store
*.db
*.session

/demos/draggable
/demos/droppable
/demos/effect
/demos/hide
/demos/accordion
/demos/addClass
/demos/animate
/demos/autocomplete
/demos/button
/demos/datepicker
/demos/dialog
/demos/show
/demos/images
/demos/position
/demos/progressbar
/demos/removeClass
/demos/resizable
/demos/selectable
/demos/toggleClass
/demos/widget
/demos/demos.css
/demos/index.html
/demos/slider
/demos/sortable
/demos/switchClass
/demos/tabs
/demos/toggle
/build
/package.json
/tests/jquery-1.6.1.js
/tests/jquery-1.6.2.js
/tests/jquery-1.6.3.js
/tests/jquery-1.6.4.js
/tests/jquery-1.6.js
/tests/jquery-1.7.1.js
/tests/jquery-1.7.js
/tests/jquery-1.4.3.js
/tests/jquery-1.4.4.js
/tests/jquery-1.4.js
/tests/jquery-1.5.1.js
/tests/jquery-1.5.2.js
/tests/jquery-1.5.js
/tests/jquery-1.4.1.js
/tests/jquery-1.4.2.js
/tests/static
/tests/visual
/tests/index.html
/tests/jquery-1.3.2.js
/tests/jquery-1.7.2.js
/tests/unit/selectable
/tests/unit/accordion
/tests/unit/autocomplete
/tests/unit/button
/tests/unit/core
/tests/unit/datepicker
/tests/unit/dialog
/tests/unit/draggable
/tests/unit/droppable
/tests/unit/images
/tests/unit/position
/tests/unit/progressbar
/tests/unit/resizable
/tests/unit/defaults.html
/tests/unit/index.html
/tests/unit/slider
/tests/unit/sortable
/tests/unit/tabs
/tests/unit/widget
/tests/unit/all.html
/themes/base/jquery.ui.dialog.css
/themes/base/jquery.ui.accordion.css
/themes/base/jquery.ui.all.css
/themes/base/jquery.ui.autocomplete.css
/themes/base/jquery.ui.base.css
/themes/base/jquery.ui.button.css
/themes/base/jquery.ui.datepicker.css
/themes/base/jquery.ui.progressbar.css
/themes/base/jquery.ui.resizable.css
/themes/base/jquery.ui.selectable.css
/themes/base/jquery.ui.slider.css
/themes/base/jquery.ui.tabs.css
/ui/jquery.effects.transfer.js
/ui/i18n
/ui/jquery.effects.blind.js
/ui/jquery.effects.bounce.js
/ui/jquery.effects.clip.js
/ui/jquery.effects.core.js
/ui/jquery.effects.drop.js
/ui/jquery.effects.explode.js
/ui/jquery.effects.fade.js
/ui/jquery.effects.fold.js
/ui/jquery.effects.highlight.js
/ui/jquery.effects.pulsate.js
/ui/jquery.effects.scale.js
/ui/jquery.effects.shake.js
/ui/jquery.effects.slide.js
/ui/jquery.ui.resizable.js
/ui/jquery.ui.selectable.js
/ui/jquery.ui.slider.js
/ui/jquery.ui.sortable.js
/ui/jquery.ui.tabs.js
/ui/jquery.ui.accordion.js
/ui/jquery.ui.autocomplete.js
/ui/jquery.ui.button.js
/ui/jquery.ui.datepicker.js
/ui/jquery.ui.dialog.js
/ui/jquery.ui.draggable.js
/ui/jquery.ui.droppable.js
/ui/jquery.ui.mouse.js
/ui/jquery.ui.progressbar.js
/grunt.js