Aaron Peterson <aaronp123@yahoo.com>
Adam Baratz <adam@adambaratz.com> <adam.baratz@gmail.com>
Adam Sontag <ajpiano@ajpiano.com>
Alexander Polomoshnov <alex.polomoshnov@gmail.com>
Aliaksandr Rahalevich <saksmlz@gmail.com>
Andrew Couch <andy@couchand.com> <acouch@bluewolf.com>
Andrew Newcomb <ext.github@preceptsoftware.co.uk>
Andrew Powell <powella@gmail.com> <andrew@shellscape.org>
Andrey Kapitcyn <ru.m157y@gmail.com>
Ben Hollis <bhollis@amazon.com> <ben@benhollis.net>
Benjamin Scott Boyle <benjamins.boyle@gmail.com>
Bert ter Heide <bertjh@hotmail.com>
Chairat Sunthornwiphat <pipo@sixhead.com>
Corey Frang <gnarf37@gmail.com> <gnarf@gnarf.net>
Courtland Allen <courtlandallen@gmail.com>
Dan Streetman <ddstreet@ieee.org>
Diego Tres <diegotres@gmail.com>
Dominique Vincent <dominique.vincent@toitl.com>
Doug Blood <dougblood@gmail.com>
Douglas Cerna <douglascerna@yahoo.com> <replaceafill@system76.(none)>
Douglas Neiner <doug@pixelgraphics.us>
Douglas Neiner <doug@pixelgraphics.us> <doug@Doug-Neiners-MacBook-Pro.local>
Dylan Just <dev@ephox.com>
Eddie Monge <eddie@eddiemonge.com>
Edward A Faulkner <ef@alum.mit.edu>
Eric Hynds <eric@hynds.net>
Ethan Romba <ethanromba@gmail.com> <ethan.romba@parivedasolutions.com>
EungJun Yi <semtlenori@gmail.com>
Eyal Kobrigo <kobrigo@hotmail.com>
Filippo Cavallarin <filippo.cavallarin@codseq.it> <poplix@papuasia.org>
Florian Gutmann <f.gutmann@chronimo.com> <blackfeet@gmx.at>
Genie <386@mail.com>
Guntupalli Karunakar <karunakarg@yahoo.com>
Hiroshi Tomita <tomykaira@gmail.com>
Ian Simpson <spoonlikesham@gmail.com>
Igor Milla <igor.fsp.milla@gmail.com>
Israel Tsadok <itsadok@gmail.com>
Jacek Jędrzejewski <jacek.jedrzejewski@gmail.com>
Jamie Gegerson <git@jamiegegerson.com>
Jay Merrifield <fracmak@gmail.com> <merrifieldj@pixia.com>
John Enters <github@darkdark.net>
Jonathan Vingiano <jvingiano@gmail.com>
Josh Varner <josh.varner@gmail.com>
Justin Domnitz <jdomnitz@gmail.com>
Justin MacCarthy <Justin@Rubystars.biz>
Jörn Zaefferer <joern.zaefferer@gmail.com>
Karl Kirch <karlkrch@gmail.com> <karl.ctr.kirch@faa.gov>
Kevin Dalman <development@allpro.net>
Klaus Hartl <klaus.hartl@googlemail.com> carhartl <klaus.hartl@stilbuero.de>
Kris Borchers <kris.borchers@gmail.com>
Kris Borchers <kris.borchers@gmail.com> <k_borchers@yahoo.com>
Krzysztof Rosiński <rozwell69@gmail.com>
Lev Kitsis <spam4lev@gmail.com>
Maggie Costello Wachs <fg.maggie@gmail.com> maggiewachs <maggie@filamentgroup.com>
Marc Neuwirth <marc.neuwirth@gmail.com>
Marcos Sousa <falecomigo@marcossousa.com> <marcos.sousa@corp.globo.com>
Martin Frost <martinf55@hotmail.com>
Mathias Stenbom <mathias@stenbom.com>
Matthew Edward Hutton <meh@corefiling.co.uk>
Max Schnur <max.schnur@gmail.com>
Michael Hollis <hollis21@gmail.com>
Michael Stay <metaweta@gmail.com>
Michael Wu <michaelmwu@gmail.com>
Mike Alsup <malsup@gmail.com>
Milan Broum <midlis@googlemail.com>
Mohamed Cherif Bouchelaghem <cherifbouchelaghem@yahoo.fr> <cherif@cherif.(none)>
Paul Irish <paul.irish@gmail.com>
Pavol Hluchý <lopo@losys.sk>
Peter Heiberg <peter@heiberg.se>
Petr Hromadko <yuriy@tokyoscale.com>
Phillip Barnes <philbar@gmail.com> <phillipbarnes@Phillip-Barnes-Computer.local>
Pierre-Henri Ausseil <ph.ausseil@gmail.com>
Raymond Schwartz <skeetergraphics@gmail.com>
Richard Worth <rdworth@gmail.com>
Rick Waldron <waldron.rick@gmail.com>
Ryan Neufeld <ryan@neufeldmail.com>
Ryan Olton <oltonr@gmail.com>
Saji Nediyanchath <saji89@gmail.com> Saji <saji@saji-laptop.(none)>
Sebastian Sauer <info@dynpages.de>
Sergey Kartashov <ebishkek@yandex.ru>
Shahyar Ghobadpour <shahyar@gmail.com>
Shane Whittet <whittet@gmail.com>
Shannon Pekary <spekary@gmail.com>
Simon Sattes <simon.sattes@gmail.com>
Stojce Slavkovski <stojce@gmail.com>
Tarafder Ashek-E-Elahi <mail.ashek@gmail.com>
Thibault Duplessis <thibault.duplessis@gmail.com>
Ting Kuei <ting@kuei.com>
Wesley Walser <waw325@gmail.com> <wwalser@atlassian.com>
Xavi Ramirez <xavi.rmz@gmail.com>
