Aaron Peterson <aaronp123@yahoo.com>
Adam Baratz <adam@adambaratz.com> <adam.baratz@gmail.com>
Adam Sontag <ajpiano@ajpiano.com>
Alexander Polomoshnov <alex.polomoshnov@gmail.com>
Aliaksandr Rahalevich <saksmlz@gmail.com>
Andrew Couch <andy@couchand.com> <acouch@bluewolf.com>
Andrew Newcomb <ext.github@preceptsoftware.co.uk>
Andrew Powell <andrew@shellscape.org> <andrew@shellcape.org>
Andrew Powell <andrew@shellscape.org> <powella@gmail.com>
Andrey Kapitcyn <ru.m157y@gmail.com>
Ben Hollis <bhollis@amazon.com> <ben@benhollis.net>
Benjamin Scott Boyle <benjamins.boyle@gmail.com>
Bert ter Heide <bertjh@hotmail.com>
Bjørn Johansen <post@bjornjohansen.no> <bjorn.johansen@metronet.no>
Chairat Sunthornwiphat <pipo@sixhead.com>
Christoph Rönsch <christoph.roensch@arcor.de>
Corey Frang <gnarf37@gmail.com> <gnarf@gnarf.net>
Courtland Allen <courtlandallen@gmail.com>
Dan Streetman <ddstreet@ieee.org>
Danny Trunk <dtrunk90@gmail.com> <dtrunk90@googlemail.com>
David De Sloovere <david.desloovere@outlook.com> <david.desloovere@hotmail.com>
David Murdoch <david@davidmurdoch.com> <musicisair@yahoo.com>
Diego Tres <diegotres@gmail.com>
Dominique Vincent <dominique.vincent@toitl.com>
Doug Blood <dougblood@gmail.com>
Douglas Cerna <douglascerna@yahoo.com> <replaceafill@system76.(none)>
Douglas Neiner <doug@dougneiner.com> <doug@pixelgraphics.us>
Douglas Neiner <doug@dougneiner.com> <doug@Doug-Neiners-MacBook-Pro.local>
Dylan Just <dev@ephox.com>
Eddie Monge <eddie@eddiemonge.com>
Edward A Faulkner <ef@alum.mit.edu>
Eric Hynds <eric@hynds.net>
Ethan Romba <ethanromba@gmail.com> <ethan.romba@parivedasolutions.com>
EungJun Yi <semtlenori@gmail.com>
Eyal Kobrigo <kobrigo@hotmail.com>
Filippo Cavallarin <filippo.cavallarin@codseq.it> <poplix@papuasia.org>
Florian Gutmann <f.gutmann@chronimo.com> <blackfeet@gmx.at>
Genie <386@mail.com>
Guntupalli Karunakar <karunakarg@yahoo.com>
Heiko Henning <heiko@thehennings.ch> <h.henning@educa.ch>
Hiroshi Tomita <tomykaira@gmail.com>
Ian Simpson <spoonlikesham@gmail.com>
Igor Milla <igor.fsp.milla@gmail.com>
Israel Tsadok <itsadok@gmail.com>
Jacek Jędrzejewski <jacek.jedrzejewski@gmail.com>
Jamie Gegerson <git@jamiegegerson.com>
Jason Oster <jay@kodewerx.org> <jay@loyalize.com>
Jay Merrifield <fracmak@gmail.com> <merrifieldj@pixia.com>
Jean-Francois Remy <jeff@melix.org> <jfremy@virtuoz.com>
Jyoti Deka <dekajp@gmail.com> <dekajp@yahoo.com>
John Enters <github@darkdark.net>
Jonathan Vingiano <jvingiano@gmail.com>
Josh Varner <josh.varner@gmail.com>
Justin Domnitz <jdomnitz@gmail.com>
Justin MacCarthy <Justin@Rubystars.biz>
Jörn Zaefferer <joern.zaefferer@gmail.com>
Karl Kirch <karlkrch@gmail.com> <karl.ctr.kirch@faa.gov>
Keith Wood <kbwood@iinet.com.au> <kbwood.au@gmail.com>
Kevin Dalman <development@allpro.net>
Klaus Hartl <klaus.hartl@gmail.com> <klaus.hartl@googlemail.com>
Klaus Hartl <klaus.hartl@gmail.com> <klaus.hartl@stilbuero.de>
Kris Borchers <kris.borchers@gmail.com>
Kris Borchers <kris.borchers@gmail.com> <k_borchers@yahoo.com>
Krzysztof Rosiński <rozwell69@gmail.com>
Lev Kitsis <spam4lev@gmail.com>
Maciej Mroziński <maciej.k.mrozinski@gmail.com> <mrozik87@gmail.com>
Maggie Wachs <maggie@filamentgroup.com>
Maggie Wachs <maggie@filamentgroup.com> <fg.maggie@gmail.com>
Marc Neuwirth <marc.neuwirth@gmail.com>
Marcos Sousa <falecomigo@marcossousa.com> <marcos.sousa@corp.globo.com>
Martin Frost <martinf55@hotmail.com>
Mathias Stenbom <mathias@stenbom.com>
Matt Hoskins <matt@nipltd.com> <furlined@cat-basket.org>
Matthew Edward Hutton <meh@corefiling.co.uk>
Max Schnur <max.schnur@gmail.com>
Michael Hollis <hollis21@gmail.com>
Michael Stay <metaweta@gmail.com>
Michael Wu <michaelmwu@gmail.com>
Mike Alsup <malsup@gmail.com>
Milan Broum <midlis@googlemail.com>
Mohamed Cherif Bouchelaghem <cherifbouchelaghem@yahoo.fr> <cherif@cherif.(none)>
Monika Piotrowicz <monika.piotrowicz@gmail.com> <monika@shopify.com>
Nick Pierpoint <nick.pierpoint@tidalsand.com>
Ondrej Novy <novy@ondrej.org>
Paul Bakaus <paul.bakaus@gmail.com> <paul.bakaus@googlemail.com>
Paul Irish <paul.irish@gmail.com>
Pavol Hluchý <lopo@losys.sk>
Peter Heiberg <peter@heiberg.se>
Petr Hromadko <yuriy@tokyoscale.com>
Phillip Barnes <philbar@gmail.com> <phillipbarnes@Phillip-Barnes-Computer.local>
Pierre-Henri Ausseil <ph.ausseil@gmail.com>
Raymond Schwartz <skeetergraphics@gmail.com>
Richard Worth <rdworth@gmail.com>
Rick Waldron <waldron.rick@gmail.com>
Ryan Neufeld <ryan@neufeldmail.com>
Ryan Olton <oltonr@gmail.com>
Saji Nediyanchath <saji89@gmail.com> Saji <saji@saji-laptop.(none)>
Scott Jehl <scottjehl@gmail.com> <scott@scottjehl.com>
Sebastian Sauer <info@dynpages.de>
Sergey Kartashov <ebishkek@yandex.ru>
Shahyar Ghobadpour <shahyar@gmail.com>
Shane Whittet <whittet@gmail.com>
Shannon Pekary <spekary@gmail.com>
Simon Sattes <simon.sattes@gmail.com>
Stojce Slavkovski <stojce@gmail.com>
Tarafder Ashek-E-Elahi <mail.ashek@gmail.com>
Thibault Duplessis <thibault.duplessis@gmail.com>
Thomas Jaggi <thomas@responsive.ch> <thomas.jaggi@gmail.com>
Ting Kuei <ting@kuei.com>
Todd Parker <todd@filamentgroup.com> <fg.todd@gmail.com>
Wesley Walser <waw325@gmail.com> <wwalser@atlassian.com>
Xavi Ramirez <xavi.rmz@gmail.com>
Yermo Lamers <yml@yml.com>
Yuriy Khabarov <13real008@gmail.com> <yuriy@tokyoscale.com>
Ziling Zhao <zilingzhao@gmail.com> <zizhao@cisco.com>
