/* Dialog
----------------------------------*/
.ui-dialog {position: relative; padding: .2em; }
.ui-dialog-titlebar { padding: .5em .3em .3em 1em; border-top: 0; border-left: 0; border-right: 0;  }
.ui-dialog-title { float: left; margin: 2px 0; } 
.ui-dialog-titlebar-close { float: right; width: 19px; margin: -.2em 0 0 0; padding: 1px; height: 18px; }
.ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog-titlebar-close:hover { padding: 0; }
.ui-dialog-content {border: 0; padding: .5em 1em; background: none; }
.ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em;  }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }