/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em; }
.ui-datepicker-header { padding: .1em;  }
.ui-datepicker-prev, .ui-datepicker-next { width: 1.8em; height: 1.8em; position: relative; margin: 1px; }
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {margin: 0;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker-prev { float: left; }
.ui-datepicker-next { float: right; }
.ui-datepicker-title {  margin: 0 .3em; line-height: 1.8em; text-align: center; width: 12em; float: left; }
.ui-datepicker-title select {float: left; margin-top: .2em;}
.ui-datepicker select.ui-datepicker-month-year {width: 12em;}
.ui-datepicker select.ui-datepicker-month, select.ui-datepicker-year {width: 5.7em;}
.ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold;  }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker-today a { background-image: none; }
.ui-datepicker-buttonpane { background-image: none; margin: .5em 0 0 0; padding: .3em 0; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em;  }