/* Progressbar
----------------------------------*/
.ui-progressbar { position: relative; overflow:hidden; }
.ui-progressbar, .ui-progressbar-value { height:1em; padding:.4em 0 .5em;  }
.ui-progressbar-label { position: absolute; left:0; top: .3em; text-indent: .5em; border: 0; background: none; white-space: nowrap; }
.ui-progressbar-value { position: absolute; top:0; width:100%; margin: -1px; overflow: hidden; font-weight: normal !important; white-space: nowrap; }