/* Tabs
----------------------------------*/
.ui-tabs-nav { padding: .2em .2em 0 .2em; border-bottom: 0; bottom: -1px; position: relative; }
.ui-tabs-nav li { float: left; border-bottom: 0; margin-right: .1em; margin-bottom: 0; padding: 0; }
.ui-tabs-nav li.ui-tabs-selected { position: relative; z-index: 10; }
.ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; position: relative; }
.ui-tabs-nav li.ui-tabs-selected a { padding-bottom: .6em;  }
.ui-tabs-panel { clear:left; padding: 1em 1.6em;  display: block; }
.ui-tabs-hide { display: none !important; }
.ui-tabs-nav li a.ui-has-icon { text-indent: 1em; }
.ui-tabs-nav li a .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: .5em;  }