<script type="text/javascript">

	var model = {

		renderAt: '#containerDemo',

		title: 'Accordion Demos',

		desc: 'Simple accordion',

		demos: [

			{
				title: 'Simple accordion',
				html: { url: 'templates/ui.accordion.data.html' },
				destroy: '$("#accordionDemo").accordion("destroy");',

				options: [
					{ desc: 'Simple Accordion Mouse over', source: '$("#accordionDemo").accordion({event: "mouseover", header:".ui-accordion-header"});' },
					{ desc: 'Simple Accordion', source: '$("#accordionDemo").accordion({ header: ".ui-accordion-header"});' }
				]
			}
		]

	};

	$(function(){

		uiRenderDemo(model);

	});

</script>