<script type="text/javascript">

	var autocomplete_data = '["aero", "airplane", "book","movie","music","sports","skating","swim"]';

	var model = {
		
		renderAt: '#containerDemo',

		title: 'Autocomplete Demos',
		
		demos: [

			{
				title: 'Simple autocomplete',
				desc: 'With few lines of code you could build a autocomplete. You can try more options on the fly! ',
				html: '<input id="autocomplete" type="text" /> (Try type <em>a</em>, <em>m</em> or <em>s</em>)',
				destroy: '$("#autocomplete").autocomplete("destroy");',
				options: [
					{ desc: 'Attach a autocomplete', source: '$("#autocomplete").autocomplete({data:'+autocomplete_data+'});' }
				]
			}

		]
	};

	$(function(){

		uiRenderDemo(model);

	});

</script>