<script type="text/javascript">

	var model = {

		renderAt: '#containerDemo',

		title: 'Dialog Demos',

		demos: [

			{
				title: 'Simple dialog',
				desc: 'With few lines of code you could build a dialog. You can try more options on the fly!',
				html: '<div id="dialog">jQuery UI Dialog</div>',
				destroy: '$("#dialog").dialog("destroy");',
				options: [
					{ desc: 'Make a simple dialog', source: '$("#dialog").dialog();' },
					{ desc: 'Modal dialog', source: '$("#dialog").dialog({ modal: true });' },
					{ desc: 'Modal dialog with overlay', source: '$("#dialog").dialog({ modal: true, overlay: { opacity: 0.5, background: "black" } });' },
					{ desc: 'With buttons', source: '$("#dialog").dialog({buttons: { "Ok": function() { alert("Ok"); }, "Cancel": function() { $(this).dialog("close"); } }});' },
					{ desc: 'Close the dialog', source: '$("#dialog").dialog("close");' }
				]
			}

		]
	};

	$(function(){

		uiRenderDemo(model);

	});

</script>