<div id="droppablePhotos" style="min-height: 130px; min-height:130px; height:auto !important;  zoom:1;">

	<ul class="droppable-gallery">
			<li class="droppable-img-content">
				<img src="templates/images/P1010020.JPG" alt="Tatry 1" title="Drag me!" />
			</li>
			<li class="droppable-img-content">
				<img src="templates/images/P1010039.JPG" alt="Tatry 3" title="Drag me!" />
			</li>
			<li class="droppable-img-content">
				<img src="templates/images/P1010044.JPG" alt="Tatry 4" title="Drag me!" />
			</li>
	</ul>

	<div class="droppable-photos-container" style="text-align: center;">Drop here!</div>

</div>