<script type="text/javascript">

	var model = {
		
		renderAt: '#containerDemo',

		title: 'Progressbar Demos',
		
		demos: [

			{
				title: 'Simple Progressbar',
				desc: 'With few lines of code you could build a progressbar. You can try more options on the fly!',
				html: '<div id="progressbar"></div>',
				destroy: '$("#progressbar").progressbar("destroy");',
				options: [
					{ desc: 'Start a progressbar', source: '$("#progressbar").progressbar({interval:2000}); $("#progressbar").progressbar("start");' },
					{ desc: 'With different increment', source: '$("#progressbar").progressbar({interval:2000, increment:100}).progressbar("start");' },
					{ desc: 'Set progress to 50%', source: '$("#progressbar").progressbar().progressbar("progress", 50);' },
					{ desc: 'Callback when finish', source: '$("#progressbar").progressbar({interval: 1000, stop:function(){alert("Finished");}}).progressbar("start");' },
					{ desc: 'Enable the progressbar', source: '$("#progressbar").progressbar().progressbar("enable");' },
					{ desc: 'Disable the progressbar', source: '$("#progressbar").progressbar().progressbar("disable");' }
				]
			}

		]
	};

	$(function(){

		uiRenderDemo(model);

	});

</script>