<ul id="selectable-example" style="list-style:none;  cursor: default;">
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>Apples</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>Bananas</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>Grapes</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>Pineapple</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>Cherries</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>Oranges</li>
</ul>