<div class="sortable-container">
	
	<div id="example3">
		
		<div style="min-height: 50px; min-height:50px; height:auto !important;">
		
			<ul id="placeholderSortable" style="list-style-position: inside; height: 30px; cursor: hand; cursor: pointer;">
				<li id='user_Jack' style="float: left;">Jack</li>
				<li id='user_John' style="float: left;">John</li>
				<li id='user_Marry' style="float: left;">Marry</li>
				<li id='user_Claire' style="float: left;">Claire</li>
				<li id='user_Daniel' style="float: left;">Daniel</li>
			</ul>
		
		</div>
		
	</div>
		
</div>