<ul id="selectable-example" style="list-style:none;  cursor: default;">
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>MacBook Pro</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>iMac</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>MacBook</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>Time Capsule</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>Apple Cinema Display</li>
	<li style='padding: 5px; border: 1px solid #bbb; margin: 3px;'>Mac mini</li>
</ul>