<script type="text/javascript">

	var model = {

		renderAt: '#containerDemo',

		title: 'Slider Demos',

		demos: [

			{
				title: 'Simple slider',
				desc: 'With few lines of code you could build a slider. You can try more options on the fly!',
				html: '<div id="slider3"><div class="ui-slider-handle"></div></div>',
				destroy: '$("#slider3").sortable("destroy");',
				options: [
					{
						desc: 'Make a simple slider',
						source:	'$("#slider3").slider();'
					}
				]
			},

			{
				title: 'Multiple slides',
				desc: 'You can also have multiples slides.',
				html: '<div id="slider1" class="ui-slider-2"><div class="ui-slider-handle"></div><div class="ui-slider-handle" style="left:100px"></div></div>',
				destroy: '$("#slider1").slider("destroy");',
				options: [
					{ desc: 'Multiple slides', source:	'$("#slider1").slider();'	}
					//, { desc: 'Multiple slides with range', source:	'$("#slider1").slider({ range: true });'	}
				]
			}

		]
	};

	$(function(){

		uiRenderDemo(model);

	});

</script>