<div class="sortable-container">

	<div id="example3">

		<div style="min-height: 50px; min-height:50px; height:auto !important;">
			<style type="text/css" media="screen">
				#placeholderSortable li {
					float: left;
				}
			</style>
			<ul id="placeholderSortable" style="list-style-position: inside; height: 30px; cursor: hand; cursor: pointer;">
				<li id='user_Jack'>Jack</li>
				<li id='user_John'>John</li>
				<li id='user_Marry'>Marry</li>
				<li id='user_Claire'>Claire</li>
				<li id='user_Daniel'>Daniel</li>
			</ul>

		</div>

	</div>

</div>