
body { font-size: 62.5%; margin: 0; padding: 20px; background: #191919; }
ul.plugins {
	margin: 0;
	padding: 0;
}
ul.plugins li.plugin {
	margin: 0 12px 12px 0;
	list-style-type: none;
	width: 220px;
	height: 220px;
	float: left;
	color: white;
	border: 1px solid gray; 
	text-align: center;
	font-weight: bold;
}
li.plugin {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

#draggable, #resizable, #selectable, #sortable {
	margin: 10px;
	width: 190px; height: 180px;
	text-align: center;
	background: #FF9C08; color: white; font-weight: bold;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}
#accordion {
	background: none;
	text-align: left;
}
#accordion, #datepicker, #dialog, #progressbar, #slider {
	margin: 10px;
}
#datepicker {
	margin-left: -40px;
}
#tabs {
	margin: 0 10px;
}
#selectable div {
	width: 45px; height: 45px; float: left; margin: 6px 8px;
	border: 1px solid white;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#selectable .ui-selecting {
	background: gray;
}
#selectable .ui-selected {
	background: black;
}
#sortable div {
	width: 45px; height: 45px; float: left; margin: 6px 8px;
	border: 1px solid white;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#sortable .ui-sortable-helper {
	background: black;
}
#tabs {
	text-align: left;
}

.draggable {
	margin: 10px;
	width: 32px;
	height: 30px;
	float: left;
	background: #FF9C08;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#droppable {
	margin: 10px;
	width: 190px;
	height: 130px;
	float: left;
	border: 1px solid #FF9C08;
	overflow: hidden;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#droppable .draggable {
	margin: 7px;
}
