/*
 * grid.css
 */

/*
Functional
*/
.ui-grid .ui-grid-body {
	overflow: auto;
}
.ui-grid .ui-grid-head-table, .ui-grid .ui-grid-body-table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}
.ui-grid .ui-grid-head-table th, .ui-grid .ui-grid-head-table td,
.ui-grid .ui-grid-body-table th, .ui-grid .ui-grid-body-table td {
	overflow: hidden;
	white-space: nowrap;
}

/*
Presentational
*/
.ui-grid .ui-grid-head {
	border-bottom-width: 0;
}
.ui-grid .ui-grid-head-table {
	border: none;
}
.ui-grid .ui-grid-head tr {
	border-left-width: 0;
	border-right-width: 0;
}
.ui-grid .ui-grid-head th {
	border-right-width: 0;
}
.ui-grid .ui-grid-body {
	border-width: 0;
}
.ui-grid .ui-grid-body tr {
	height: 2em;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.ui-grid .ui-grid-body td {
	border-top-width: 0;
	border-right-width: 0;
	background: none;
}
.ui-grid th, .ui-grid td {
	padding: 0.2em 0.4em;
}
.ui-grid .ui-grid-foot {
	border-top-width: 0;
}

.ui-grid .ui-grid-body {
	background-image: none;
}
.ui-grid tr.ui-state-default,
.ui-grid td.ui-state-default {
	background-image: none;
}

.ui-grid-resizable .ui-resizable-se {
	width: 17px;
	height: 17px;
	bottom: -4px;
	right: -2px;
}
.ui-grid-resizable .ui-resizable-s {
	width: auto;
	bottom: -7px;
	right: 16px;
}
.ui-grid-resizable .ui-resizable-e {
	height: auto;
	bottom: 10px;
}
