/*************************************/
/* Viewer: models                    */

#containerDemo {
	width: 690px;
	zoom: 1;
}
#containerDemo .ui-wrapper {
    margin:0px 10px;
}
#containerDemo .ui-details {
  margin:0px 10px 10px 0px;
	border-bottom: 2px solid #bbb;
}

#containerDemo .menutitle {
	font-size: 14px;
	letter-spacing: .5px;
	padding-bottom: 3px;
}

#containerDemo .ui-demo-options {
	background: #f2f2f2;
	border-bottom: 1px #bbb solid;
	padding: 10px;
	margin: 10px 0 20px 0;
	width: 690px;
	_width: 670px;
	font-size: 12px;
}

.sortable-container li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: circle;
	background: #EAEAEA;
	font-size: 12px;
	margin:2px;
	padding: 3px;
	width: 100px;
}

.colored {
	display: block;
	background: #fff;
	margin-top: 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	white-space: pre;
	padding: 10px;
	font-size: 11px;
	font-family: Courier New;
	width: 640px;
	overflow-x: auto;
	overflow-y: hidden;
	/*min height hack*/
  * min-height:25px;
  * height:auto !important;
  * height:25px;
	* padding: 15px;
}

#containerDemo .ui-demo-description {
	margin-bottom: 10px;
	font-size: 12px;
}
#containerDemo .link-view-source {
	margin-left: 5px;
}
#containerDemo .proxy {
		border: 1px dashed #000;
}

#containerDemo .lightblue-bg{
	background: #E8EEF7;
}
#containerDemo .blue-bg {
	background: #C3D9FF;
}
#containerDemo .green-bg {
	background: #74DD82;
}
#containerDemo a {
    color:#000;
}

.snippet {
	white-space: nowrap;
	overflow: hidden;
	empty-cells: show;
}

/*************************************/
/* Components                        */

.proxy {
	border: 1px dashed #000/*#3399ff*/;
}

.resizable {
	width: 100px; height: 100px;
	border: 1px solid #000;
	padding: 10px;
	font-size: 12px;
}

.draggable {
	width: 100px;
	height: 40px;
	top: 10px;
	right: 10px;
	background-color: #68BFEF;
	border: 2px solid #0090DF;
	padding: 5px;	
	margin: 0 0 12px 12px;
	font-size: 12px;
}

div.drag-handle
{
	cursor: move;
	background-color: #0090DF;
	height: 15px;
}

.block { 
   border: 2px solid #0090DF;
   background-color: #68BFEF;
   width: 75px; 
   height: 75px;
   margin: 10px;
   z-index: 100;
}
.drop { 
	background-color: #e9b96e;
	border: 3px double #c17d11;
	width: 150px; 
	margin: 10px;
	min-height: 200px;
	min-height:200px;
  height:auto !important;
  height:200px;
  opacity: 0.7;
	filter:alpha(opacity:70);
	text-align: center;
}
.droppable-active {
	opacity: 1.0;
	filter:alpha(opacity:100);
}
.droppable-hover {
	outline: 1px dotted black;
	background-color: #73d216;
	border-color: #4e9a06;
}
.silver {
	background-color: #fafafa;
	border-color: silver;
}
.draggable.green {
	background-color: #73d216;
	border-color: #4e9a06;
}

.draggable.red {
	background-color: #ef2929;
	border-color: #cc0000;
}

.ui-selecting {
  background-color: #eee;
}
.ui-selected {
  background-color: #E6F7D4;
}

.sortable-container #example2 li {
	background: none;
}

.sortable-container #example3 li {
	list-style: none;
}
.droppable-photos-container {
	border: 2px #ccc dotted;
	width:144px;
	height: 108px;
	float:left;
	margin-top: 2px;
	padding: 2px;
}
.droppable-img-content {
	float: left; padding: 5px;
}

#accordionDemo, select {
	position: relative;
	font-size: 12px;
}
#accordionDemo h3 {
	padding: 0;
}

.ui-accordion-data {
	padding: 10px;
}
