body {
	font-family: Arial, Helvetica, sans-serif;
	visibility: hidden;
}

table {
	font-size: 1em;
}

.demo-description {
	clear: both;
	padding: 12px;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
