/* Accordion
----------------------------------*/
.ui-accordion-group {margin-bottom: 1px;}
.ui-accordion-header { cursor: pointer; position: relative;  }
.selected .ui-accordion-header { border-bottom: 0; }
.ui-accordion .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; }
.ui-accordion-content-wrap { border-top: 0; margin-top: -1px; position: relative; top: 1px; }
.ui-accordion-content { padding: 1em 2.2em; }