name: Node

on:
  pull_request:
  push:
    branches-ignore: "dependabot/**"
  # Once a week every Monday
  schedule:
    - cron: "42 1 * * 1"

permissions:
  contents: read

env:
  NODE_VERSION: 22.x

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    name: |
      ${{ matrix.BROWSER }} | ${{ matrix.CONFIGS.name }}
    strategy:
      fail-fast: false
      matrix:
        BROWSER: [chrome, firefox]
        CONFIGS:
          - config: jtr-git.yml
            name: jQuery git
          - config: jtr-stable.yml
            name: jQuery stable

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ env.NODE_VERSION }}-npm-lock-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ env.NODE_VERSION }}-npm-lock-

      - name: Install npm dependencies
        run: npm install

      - name: Build
        run: npm run build

      # Lint must happen after build as we lint generated files.
      - name: Lint
        run: npm run lint

      - name: Test
        run: |
          npm run test:unit -- \
            --headless -b ${{ matrix.BROWSER }} \
            -c ${{ matrix.CONFIGS.config }}

  edge:
    runs-on: windows-latest
    name: |
      edge | ${{ matrix.CONFIGS.name }}
    strategy:
      fail-fast: false
      matrix:
        CONFIGS:
          - config: jtr-git.yml
            name: jQuery git
          - config: jtr-stable.yml
            name: jQuery stable
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ env.NODE_VERSION }}-npm-lock-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ env.NODE_VERSION }}-npm-lock-

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test:unit -- --headless -b edge -c ${{ matrix.CONFIGS.config }}

  safari:
    runs-on: macos-latest
    name: |
      safari | ${{ matrix.CONFIGS.name }}
    strategy:
      fail-fast: false
      matrix:
        CONFIGS:
          - config: jtr-git.yml
            name: jQuery git
          - config: jtr-stable.yml
            name: jQuery stable
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ env.NODE_VERSION }}-npm-lock-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ env.NODE_VERSION }}-npm-lock-

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test:unit -- -b safari -c ${{ matrix.CONFIGS.config }}
